.registration-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.registration-form h1 {
    text-align: center;
}

.registration-form .form-group {
    margin-bottom: 20px;
}

.registration-form label {
    font-weight: bold;
}

.registration-form a {
    display: block;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #007bff;
    text-decoration: none;
}

.registration-form button {
    width: 100%;
}